{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "sonarjs"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "jest": true,
    "node": true
  }
}